/* Sidebar styles */
.sidebar {
    box-sizing: border-box;
      background-color: #07b32428; /* Light green color */
      width: 250px;
      height: 100vh;
      padding: 15px;
      display: flex;
      flex-direction: column;
      border-radius:0px 20px 20px 0px;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
      border-width: 2px 10px 2px 2px;
      border-style: solid;
  border-color: #07b324;
    }
    .sidebar-header {
      text-align: center;
      padding-bottom: 15px;
    }
    
    .sidebar-title {
      color: rgb(13, 0, 0); /* Dark green color for title */
      margin-bottom: 10px;
      
    }
    .sidebar-menu {
      flex-grow: 1;
      margin-bottom: 20px;
    }
    .sidebar-footer {
      /* Footer for logout button at the bottom */
      margin-top: auto;
      text-align: center;
    }