/* styles.css */
.container {
  border: 2px solid #ccc; /* Add border to create a box */
  padding: 10px; /* Add padding for better spacing */
  margin: 20px; /* Add margin to create space around the box */
  border-radius: 10px; /* Add border radius for rounded corners */
  left: 5px;
  position: absolute;
  width: 300px;
  
}

.container h3 {
  font-size: 18px; /* Adjust the font size as needed */
}


.pressure-data-container {
    margin: 20px;
    height: 400px; /* Set a fixed height for the container */
    overflow-y: auto; /* Enable vertical scrolling */
    
  }
  
  .pressure-table {
    width: 100%;
    
    margin-top: 20px;
    
  }
  
  .pressure-table th, .pressure-table td {
    border: 1px solid #dddddd;
    text-align:center;
    padding: 8px;
    
  }
  
  .pressure-table th {
    background-color: #47a5e8;
  }

  /* Add hover effect on table rows */
.pressure-table tbody tr:hover {
  background-color: #67ea8c;
}
  