.profile-container {
    
    display: flex;
    position: relative;
}

.profile-info {
    flex: 1;
    padding: 20px;
    width: 100px;
    
}


.data-box {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-left:auto;
    
    width: 50px;
}
.table {
    width: 500px;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 30px;
    margin-left: 900px;
}

.table th, .table td {
    border: 1px solid #ccc;
    padding: 10px;
    word-wrap: break-word;
    font-weight: bold;
}
.custom-left-button {
   margin-top: -9px;
    width:500px;
    margin-left: 900px;
    border-radius: 0px;
    /* Add additional styles as needed */
}


.table1 {

    margin-top: 200px;  /* Adjust the value as needed */
    margin-left: 50px;
    
    max-width: 500px; /* Adjust the maximum width as needed */
    
    border: 1px solid #ddd; /* Add a border to the table */
    padding: 15px;
    border-radius: 8px; /* Add some border radius for a rounded appearance */
}

.table1 th, .table1 td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a bottom border to each table cell */
}

.table1 th {
    background-color: #f2f2f2; /* Add a background color to table header cells */
}

.table1 input[type="text"], .table1 input[type="file"], .table1 .react-datepicker-wrapper {
    width: 100%; /* Make text inputs, file inputs, and date picker full width */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.custom-left-button1 {
    background-color: #10e133e1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 500px;
    position: absolute;
    margin-top: 4px; /* Adjust the top position as needed */
    margin-left: 40px; /* Adjust the right position as needed */
    
}

.custom-left-button1:hover {
    background-color: #05a91ec3; /* Change button background color on hover */
}

.custom-view-button1{
    position: absolute;
    margin-top: 60px;
    margin-left: 50px;
    width: 500px;
    
    
    border-radius: 0px;
   
   
}




.table2 {

    margin-top: 200px;  /* Adjust the value as needed */
    margin-left: 50px;
    
    width: 500px; /* Adjust the maximum width as needed */
    
    border: 1px solid #ddd; /* Add a border to the table */
    padding: 15px;
    border-radius: 8px; /* Add some border radius for a rounded appearance */
}

.table2 th{
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.table2 td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}


.table2 th {
    background-color: #f2f2f2; /* Add a background color to table header cells */
}

.table2 input[type="text"], .table2 input[type="file"], .table2 .react-datepicker-wrapper {
    width: 100%; /* Make text inputs, file inputs, and date picker full width */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.table2 input[type="number"]{
    width: 62%; /* Make text inputs, file inputs, and date picker full width */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}

.custom-left-button2 {
    background-color: #10e133e1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 500px;
    position: absolute;
    margin-top: 4px; /* Adjust the top position as needed */
    margin-left: 50px;

}

.custom-left-button2:hover {
    background-color: #05a91ec3; /* Change button background color on hover */
}

.custom-view-button2{
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    
    
    border-radius: 0px;
   
}


.table-wrapper{
    box-sizing: border-box;

    position: absolute;
    width: 1000px;
    height: 700px;
    left: 450px;
    top: 300px;
    bottom: 10px;
    
    
    background: #FFFFFF;
    border: 2px solid #276CBD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    

}

.table3 {

    margin-top: 30px;  /* Adjust the value as needed */
    margin-left:350px;;
    
    width: 600px; /* Adjust the maximum width as needed */
    
    border: 1px solid #ddd; /* Add a border to the table */
    padding: 15px;
    border-radius: 8px; /* Add some border radius for a rounded appearance */
}

.table3 th, .table3 td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a bottom border to each table cell */
}

.table3 th {
    background-color: #f2f2f2; /* Add a background color to table header cells */
}

.table3 input[type="text"], .table3 input[type="file"], .table3.react-datepicker-wrapper {
    width: 100%; /* Make text inputs, file inputs, and date picker full width */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.table3 input[type="number"]{
    width: 62%; /* Make text inputs, file inputs, and date picker full width */
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;

}
.addbutton_medical_pofile{
    background-color: #10e133e1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 600px;
    position: absolute;
    margin-top: 4px; /* Adjust the top position as needed */
    left: 350px; /* Adjust the right position as needed */
    height: 40px;
}

.addbutton_medical_pofile:hover {
    background-color: #05a91ec3; /* Change button background color on hover */
}


.viewbutton_medical_pofile {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none; /* Remove underline */
    cursor: pointer; /* Change cursor to pointer on hover */
    margin-top: 360px;
    margin-left: 350px;
    width: 600px;
    position: absolute;
    text-align: center;
}

.viewbutton_medical_pofile:hover {
    background-color: #0056b3; /* Darker blue on hover */
}



/*Add pressure medicine from*/

.pressureMedicinetable{

    margin-top: 300px;  /* Adjust the value as needed */
    margin-left: -800px;
    
    max-width: 700px; /* Adjust the maximum width as needed */
    
    border: 1px solid #ddd; /* Add a border to the table */
    padding: 25px;
    border-radius: 8px; /* Add some border radius for a rounded appearance */
}

.pressureMedicinetable th, .pressureMedicinetable td {
    padding: 5px;
    text-align: left;
    border-bottom: 1px solid #ddd; /* Add a bottom border to each table cell */
}

.pressureMedicinetable th {
    background-color: #f2f2f2; /* Add a background color to table header cells */
    padding-right: 1px;
}

.pressureMedicinetable input[type="text"], .pressureMedicinetable input[type="number"], .pressureMedicinetable .react-datepicker-wrapper {
    width: 200px; /* Make text inputs, file inputs, and date picker full width */
    padding: 7px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.custom-left-pressureMedicinetable {
    background-color: #10e133e1;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    width: 700px;
    margin-left: -800px;
    
}

.custom-left-pressureMedicinetable:hover {
    background-color: #05a91ec3; /* Change button background color on hover */
}

.custom-view-pressureMedicinetable{
    margin-left: -1300px;
    width: 468px;
    
    margin-top: 5px;
    border-radius: 0px;
   
}

.custom-select-pressurebutton{
    position: absolute;
    margin-top: 500px;
    left:20opx;
    width: 200px;
    
    
    border-radius: 0px;
   
}

.custom-select-cholesterolbutton{
    position: absolute;
    margin-top: 400px;
    left:20px;
    width: 200px;
    padding: 15px;
    
    
    border-radius: 0px;
   
}
.custom-select-pressurebutton{
    position: absolute;
    margin-top: 550px;
    left:20px;
    width: 200px;
    
    
    border-radius: 0px;
   
}
.custom-select-diabetesbutton{
    position: absolute;
    margin-top: 600px;
    left:20px;
    width: 200px;
    
    
    border-radius: 0px;
   
}

.cholesterol_select {

    box-sizing: border-box;

position: absolute;
width: 200px;
height: 55px;
left: 40px;
top: 50px;


background: #FFFFFF;
border-width: 2px 2px 10px 2px;
border-style: solid;
border-color: #0EFC34;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.diabetes_select {

    box-sizing: border-box;

position: absolute;
width: 200px;
height: 55px;
left: 40px;
top: 200px;


background: #FFFFFF;
border-width: 2px 2px 10px 2px;
border-style: solid;
border-color: #0EFC34;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}

.pressure_select {

    box-sizing: border-box;

position: absolute;
width: 200px;
height: 55px;
left: 40px;
top: 350px;


background: #FFFFFF;
border-width: 2px 2px 10px 2px;
border-style: solid;
border-color: #0EFC34;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 10px;

}
.pressure_select:hover {
   
    border-color: #06b00b;
}
.diabetes_select:hover {
   
    border-color: #06b00b;
}
.cholesterol_select:hover {
   
    border-color: #06b00b;
}