/* Custom styles for the header */

/* Navbar background color */
.navbar.custom-bg {
    background-color: rgba(144, 238, 144, 0.7); /* Light green color with transparency */
  }
  
  /* Navbar brand link color */
  .navbar-brand {
    color: #000; /* Black color */
  }
  
  /* Navbar brand link hover color */
  .navbar-brand:hover {
    color: #fff; /* White color */
  }
  
  /* Navbar toggler icon color */
  .navbar-toggler-icon {
    background-color: #000; /* Black color */
  }
  
  /* Dropdown menu background color */
  .dropdown-menu {
    background-color: #90ee90; /* Light green color */
  }
  
  /* Dropdown menu item text color */
  .dropdown-item {
    color: #000; /* Black color */
  }
  
  /* Dropdown menu item text hover color */
  .dropdown-item:hover {
    color: #08600c; /* White color */
  }
  