.table-wrapper1 {
    overflow-x: auto;
    margin-bottom: 20px;
}

.total-info1 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.total-info .badge1 {
    margin-right: 10px;
}

.btn-group1 {
    margin-right: 10px;
}
