.table-wrapper {
    overflow-x: auto;
    margin-bottom: 20px;
}

.total-info {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.total-info .badge {
    margin-right: 10px;
}

.btn-group {
    margin-right: 10px;
}
